.messages {
    height: 41rem;
    position: relative;
    &__view {
        height: 28rem;
        margin-bottom: 5rem;
        overflow: auto;
        background: #fff;
        font-size: 16px;
        .received,
        .sent {
            width: 90%;
            clear: both;
            margin-bottom: 7px;
            text-align: left;
            padding: 17px;
            font-size: $small-font-size;
        }
        .date {
            color: $primary-color-3;
            font-size: $chat-date-font;
            margin-top: 7px;
            float: right;
            clear: both;
        }
        .received {
            background: #E1F1D6;
            float: right;
        }
        .sent {
            background: #F4F4F4;
            float: left;
        }
        .mymb {
            min-height: 30rem;
        }
    }
    &__form {
        height: 14rem; // background: transparent;
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 11rem;
        textarea {
            width: 100%;
            height: 100%;
            color: #000;
            padding: 3px 7px;
            padding-bottom: 15px;
            border: none; // border-top: 2px solid $primary-color-6;
            // border-bottom: 2px solid $primary-color-6;
            // border-left: 2px solid $primary-color-3;
            // border-right: 2px solid $primary-color-3;
            background: #F0F0F0;
            font-size: 15px;
            outline: 0;
        }
        textarea:focus {
            outline: none;
            border: none;
        }
    }
    .send {
        position: absolute;
        right: .1px;
        bottom: -5px;
        height: 15px;
        font-size: 13px;
        ;
    }
}

/////////////// //////////////////////////////////files/////