.display {
  font-size: 80% !important; // background-image: url(../assets/noise_d.png);
  margin-left: 25.5rem; // background-image: radial-gradient(circle, #ffffff, #fbfbfb, #f6f6f6, #f2f2f2, #eeeeee);
  // background: black;
  // min-width: 767px;
  font-family: "Montserrat" !important;
  @include tablet1 {
    margin-left: -1rem;
    .headingTertiary {
      font-size: 2rem;
    }
  }
  .card-header {
    background: $primary-color-3 !important;
    color: #fff;
    font-weight: bolder;
  }
  padding-top: 5rem;
  &__content {
    min-height: 795px;
    text-align: center;
    padding: $margin-sm $margin-sm;

    .btn {
      font-size: inherit;
    }
    .btn:not(:last-child) {
      margin-top: $margin-md;
    }
  }
}
