.navbar {
    animation-duration: 2s;
    animation-delay: .3s; // animation-iteration-count: infinite;
    // background-image: linear-gradient(to bottom, rgba($primary-color-2, 0), rgba($primary-color-2, .2), rgba(0, 0, 0, .5));
    background: $primary-color-5;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 3px;
    position: absolute; // top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    min-width: 100%;
    &-brand {
        font-size: 3rem;
        font-family: 'Black Han Sans', sans-serif;
        transition: all .5s ease-in;
        text-decoration: none;
        color: $primary-color-7;
        display: inline-block;
        background-image: linear-gradient(to right, $primary-color-1_1, $primary-color-2, $primary-color-1, $primary-color-2_2);
        -webkit-background-clip: text;
        color: transparent;
    }
    .deco {
        font-family: 'Bungee Inline', cursive;
        font-size: 4rem;
    }
    &__logo {
        height: 6rem;
    }
    &-brand:hover,
    &-brand:active {
        background-image: linear-gradient(to left, $primary-color-1_1, $primary-color-2, $primary-color-2_2, $primary-color-1);
        -webkit-background-clip: text;
        color: transparent;
    }
    &-brand__start {
        // position: relative;
        // left: 7%;
        // top: 0;
    }
    &-brand__end {
        // position: relative;
        // left: -7%;
    }
    &-toggler {
        color: $primary-color-6;
        font-size: 2.5rem;
    }
    &__toggle {
        background: $primary-color-5;
        font-size: 1rem;
        border: none;
        @include tablet {
            width: 70%;
        }
        @include smartphone {
            width: 70%;
        }
        @include smallScreen {
            width: 70%;
        }
    }
    .nav-item {
        padding: $ul_links_padding_y $ul_links_padding_x;
        transform: translateX(5rem);
    }
    .nav-link {
        color: $primary-color-6;
        font-family: 'Arvo', serif;
        transition: all .5s ease-in;
        font-size: 2rem;
        font-weight: 700;
        display: inline-block;
    }
    .nav-link:hover,
    .nav-link:active {
        color: $primary-color-1; // font-family: 'Bungee Inline', cursive;
        background: $primary-color-6;
    }
    .btn {
        font-size: 2rem;
        font-family: 'Bungee Inline', cursive;
    }
}