//FONT
$default-font-size:1.8rem;
$small-font-size:1.4rem;
$chat-date-font:1.2rem;
$ul_links_padding_y:.5rem;
$ul_links_padding_x:.1rem;
//colors
$primary-color-bright-1:#007ACC;
$primary-color-0:#EEEEEE;
$primary-color-0_2:#ffffff;
$primary-color-0_1:#000;
$primary-color-1:#494e6b;
$primary-color-1_1:lighten($primary-color-1, 10%);
$primary-color-1_2:lighten($primary-color-1_1, 15%);
$primary-color-2:#192231;
$primary-color-2_2:darken($primary-color-2, 10%);
$primary-color-3:#00897B;
$primary-color-3_1:#D7DBD6;
$primary-color-4:#6e6167;
$primary-color-5:#f5f5f5;
$primary-color-5_1:darken($primary-color-5, 10%);
// $primary-color-6:#ff533d;
$primary-color-6:#EDA719;
$primary-color-6_1:#F76A0D;
$primary-color-7:lighten( $primary-color-6, 10%);
///margins
$margin-xlg:12rem;
$margin-lg:7rem;
$margin-md:5rem;
$margin-sm:2.5rem;
$margin-xsm:1.5rem;
//Input heights
$standard_input_height:3rem;
$standard_font_height:2rem;
$standard_form_padding:1rem;